@import "_shared.scss";

.App {
  text-align: center;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  background-color: $palest-grey;
  min-height: 100vh;
  align-items: start;
}

.column-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.column-header {
  color: white;
  box-sizing: border-box;
  height: 30px;
  align-self: center;
}
.header-purple {
  background-color: #8e6e95;
}
.header-teal {
  background-color: #39a59c;
}
.header-navy {
  background-color: #344759;
}
.header-orange {
  background-color: #e8741e;
}

.column-item {
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}
